body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Create a class styling */

.createClassDiv{
  width:35%; 
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 50px #4185F4;
  background-color: white;

}
.createClassHeader{
 color: #487ECE;
 text-transform: uppercase;
 font-size:2rem;
 margin-right: 45%;
 margin-top: 2%;

}
.createClassForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.createClassLabel {
  display: flex;
  align-items: flex-start;
  font-size:1.2rem;
  color:gray;
  text-transform: uppercase;
  font-weight: bold;
}
.createClassInput {
  padding: 2% 0;
  width: 98%;
  background-color: #E5E5E5;
  border: none;

}
#addClass {
  margin-top:2%;
  margin-bottom: 5%;
  padding: 2% 0;
  width: 98%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color:white;
  background-color: #4185F4;
  border: none;
}

/*Responsive Styles*/
@media(max-width: 1000px){
  .createClassDiv{
    width:60%;
  }
  .createClassHeader{
    font-size:1.5rem;
    margin-right:42%;
  }
}

@media(max-width: 600px){
  .createClassDiv{
    width:70%;
    margin-top: 20%;
  }
  .createClassHeader{
    font-size:1.5rem;
    margin-right:30%;
  }
  .createClassLabel{
    font-size: 1rem;
  }
  .createClassInput{
    padding: 1.5% 0;
    width: 97%;
  }
  #addClass{
    padding: 1.5% 0;
    width:97%;
    font-size:1rem;
  }
}
